/* .em {
    font-size: 20px;
}

.em__title-1 {
    (20*1,5)
    font-size: 1.5em;
} */


.em__title-1 {
    /* (16-дефолт браузера*1,5) */
    font-size: 1.5em;
}

.sqeure {
    width: 70em;
    height: 0.5em;
    background-color: black;
}

.rem {
    font-size: 1.5rem;
}

.parent-square {
    width: 700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.13);
    /* position: absolute; */
}

.parent-square__child {
    width: 50%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    /* position: relative;
    top: 10%;
    left: 10%; */
    margin-top: 0%;
    padding-top: 0%;
    transform: translatey(0%);
    font-size: 120%;
    line-height: 200%;
}

.vwh__title1 {
    font-size: 3vw;
}

.vwh__title2 {
    font-size: 3vh;
}

.vwhmaxmin__title1 {
    font-style: 3vmin;
}

.vwhmaxmin__title2 {
    font-style: 3vmax;
}