body {
    color: #000000;
    font-family: sans-serif;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 0;
}

.grid {
    min-height: 100vh;
}

.item {
    border: 3px solid #444;
    font-size: 25px;
    padding: .8em;
    text-align: center;
}

/* -------------------------------------- */

.grid-1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr minmax(100px, 200px) 1fr 1fr;
    /* justify-items: stretch; */
}