.block {
    padding: 100px 100px 30vh;
    height: 100vh;
}

.block__image {
    height: 100%;
    box-shadow: 10px 10px 10px rgb(83, 83, 83);
    border-radius: 10px;
}

.block__image {
    /* background: url("../лого.png")50% 50% / 100% no-repeat, linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1)); */
    background-image: url("../лого.png"), linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1));;
    background-position: 50% 50%, 100% 100%;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.block__image {
    
}


/* .block {
    background: rgba(0,212,255,1);
    background: linear-gradient
    background: radial-gradient
    background-color: aqua;
    background-image: url();
    background-repeat: space;
    background-position: x y;
    background-attachment: scroll;
    background-size: auto;
} */
