body {
    font-family: sans-serif;
}

.wrapper {
    margin: 20px;
    padding: 50px;
}

.flexbox {
    height: 100%;
    /* padding: 30px; */
    border: 20px solid rgb(114, 114, 114)
}

.flexbox__item:nth-child(2) .flexbox__item-content {
    padding: 20% 20%;
}

.flexbox__item {
    border: 5px solid rgb(135, 133, 255)
}
.flexbox__item-content {
    background: #d770ff;
    font-size: 3rem;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flexbox__item {
    flex-basis: 20%;
    
}




.discription {
    font-size: 1.5rem;
}