.block {
    margin: 30px 30px;
    background-color: #000000;
    width: 100px;
    height: 100px;
    transform:  rotate(-30deg) translate(0.5vw, 0vh);
    /* transform:  translate(0.5vw, 0vh) rotate(-30deg) ; */
}




/* .block {
    padding: 20px 20px;
    margin: 20px 20px;
    width: 100px;
    height: 100px;
    background-color: black;
    transform: translate(10px, 10px);
    transform: rotate(45deg);
    transform-origin: left top;
    transform-origin: 0px 0px;
    transform: scale();
    transform: skew(10deg);
} */